			/* Resets */

				body, h1, h2, h3, h4, h5, h6, p, ul {
					margin: 0;
					padding: 0;
				}

				body {
					font-family: 'Open Sans';
				}

				a {
					text-decoration: none;
					border-bottom: 2px solid #000;
				}

				a:hover {
					opacity: .8;
				}

				.section-black-overlay a{
					color: #fff;
					border-bottom: 2px solid #fff;
				}

				p {
					line-height: 120%;
				}

			/* Common styling */

				.vertical-align {
					position: absolute;
					top: 50%;
					left: 50%;
					margin-right: -50%;
					transform: translate(-50%, -50%);
				}

				.horizontal-align {
					display: block;
					margin: 0 auto;
					text-align: center;
				}

				img.horizontal-align {
					padding: 40px 0 40px 0;
					max-width: 100%;
				}

				h1, h2, h3, h4, h5, h6 {
					font-family: 'Open Sans Condensed';
					text-transform: uppercase;
				}

				h1 {
					font-size: 6vw;
					width: 100%;
					text-align: center;
				}

				h1 span {
					width: 100%;
					display: block;
					font-size: .5em;
					text-align: center;
					font-style: italic;
					padding-bottom: 20px;
				}

				h2 {
					font-size: 3vw;
					color: #222222;
					padding: 20px 0 20px 0;
					text-align: center;
				}

				h3 {
					font-size: 1.75em
				}

				h2:after {
					content: "";
					display: block;
					height: 4px;
					width: 40px;
					background-color: #C51310;
					margin: 10px auto 40px auto;
				}

				.event-buy-tickets h2, footer h2{
					padding-top: 20px;
				}

				.event-buy-tickets h2:after, footer h2:after{
					margin-bottom: 0;
				}

				.h2-white h2:after {
					background-color: #C51310;
				}

				.section-black h1, .section-black-overlay h1, .section-black h2, .section-black-overlay h2, .section-black-overlay p{
					color: #fff;
				}

				@media only screen and (max-width: 960px) {
					h2 {
						font-size: 6vw;
					}
				}

			/* Navigation */

				nav {
					position: fixed;
					left: 0;
					right: 0;
					z-index: 200;
					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					height: 70px;
					background-color: rgba(255,255,255,.95);
					padding: 0 20px 0 20px;
					font-family: 'Open Sans';
					font-weight: 700;
					border-bottom: 1px solid  #CCCCCC;
					text-transform: uppercase;
				}

				nav a{
					color: #000;
					border: 0;
				}

				.logo{
					position: relative;
					width: 170px;
					height: 70px;
					background-image: url(../images/site/spff-logo.png);
					background-repeat: no-repeat;
					background-position: left center;
					background-size: 100%;
					margin-right: auto;
				}

				.logo span {
					position: relative;
					left: 110%;
					top: 16px;
					font-size: 10px;
					line-height: 120%;
					width: 100px;
					display: block;
					color: #000;
					letter-spacing: 1px;
					font-weight: 800;
				}

				.logo span b{
					color: #C51310;
					font-weight: 1000;
				}

				#welcome .menu .welcome span,
				#schedule .menu .schedule span,
				#news .menu .news span,
				#get-involved .menu .get-involved span,
				#submit-a-film .menu .submit-a-film span {
					border-bottom: 2px solid #000;
				}
				
				.menu {
					list-style: none;
					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					line-height: 70px;
					font-size: 12px;
					text-transform: uppercase;
				}

				.menu a{
					margin-left: 30px;
				}

				.menu a span {
					padding: 0 5px 2px 5px;
				}
				
				a.fb, a.email, a.instagram {
					background-repeat: no-repeat;
					background-position: left center;
					background-size: auto 100%;
					padding: 0 10px 0 0;
				}

				a.instagram {
					background-image: url('../images/site/instagram.svg');
					margin-left: 10px;
				}

				a.fb {
					background-image: url('../images/site/fb.svg');
				}

				a.email {
					background-image: url('../images/site/email.svg');
					margin-left: 10px;
				}

				.fb span, .email span, .instagram span{
					font-size: 0;
				}

				.menu span:hover {
					border-bottom: 2px solid #000;
				}

				.button-menu {
					display: none;
					position: absolute;
					top: 23px;
					right: 20px;
					font-size: 12px;
					border: 2px solid #000;
					padding: 2px 7px 3px 7px;
				}


				@media only screen and (max-width: 960px) {
					nav {
						height: auto;
						display: inherit; 
					}
					.logo {
						width: 135px;
						margin-right: 0;
						display: block;
					}

					.menu {
						width: 100%;
						display: block;
						border-bottom: 1px solid rgba(0,0,0,.05);
						display: none;
					}

					.menu li{
						border-top: 1px solid rgba(0,0,0,.05);
					}

					.menu a {
						margin-left: 0;
					}

					.menu a span {
						padding: 0;
						width: 100%;
					}

					.fb span, .email span, .instagram span {
						font-size: 12px;
						margin-left: 25px;
					}

					.button-menu {
						display: inherit;
					}
				}

			/* video header */

				#splash {
					position: relative;
					padding-top: 41.71875%; /* 1280x534 cineamtic ratio */
					overflow: hidden;
					background-color: rgba(0,0,0,.5);
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center top;
				}

				#video-viewport {
				    position: absolute;
				    top: 0;
				    z-index: -1; /* for accessing the video by click */
				    overflow: hidden;
				}

				#splash a {
					border: 0;
				}

				.intro-centering {
					width: 100%;
					position: absolute;
					top: 22%;
				}

				.intro { 
					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					width: 80%;
					max-width: 80%;
					margin: 0 auto;
				}

				.intro h1 {
					color: #fff;
					font-weight: bold;
					line-height: 100%;
					margin-top: 2.5%;
					padding-right: 50vw;
					text-align: left;
					font-size: 4.5vw;
				}

				.intro h1 b{
					color: #C51310;
				}

				.intro h1:after{
					margin: 10px 0 0 0;
					background-color: #fff;
				}

				.intro p {
					color: #fff;
					font-size: 1.1em;
					font-weight: 300;
					line-height: 150%;
					margin: 10px 20px 0 0;
				}

				.intro img{
					max-height: 25vw;
					margin-left: auto;
					border: 3px solid #fff;
				}

				.headline {
					font-size: 2vw;
					text-align: center;
					font-weight: 300;
					padding: 40px 0 0 0;
				}

				@media only screen and (max-width: 860px) {
					.intro h1{
						font-size: 2em;
					}

					.intro img {
						max-height: 200px;
					}
				}

				@media only screen and (max-width: 660px) {
					#splash, #schedule #splash, #news #splash, #get-involved #splash, #submit-a-film #splash {
						padding-top: 100%; 
					}

					#video-viewport {
						display: none;
					}

					.headline {
						font-size: 1.25em;
						padding: 20px 10px 0 10px;
					}

					.splash-mobile {
						background-image: url('../images/events/events-2016.jpg');
						display: inherit;
						background-color: rgba(0,0,0,.33);

					}

					.intro h1{
						font-size: 2em;
					}

					.intro img {
						display: none;
					}

					.intro p{
						line-height: 120%;
						font-size: 1em;
						margin: 20px 0 0 0;
					}
				}

			/* Tiles */

				#tiles {
					width: 90%;
					max-width: 1100px;
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					margin: 0 auto;
					flex-wrap: wrap;
					justify-content: flex-start;
					padding: 0 5% 0 5%;
			
				}

				.tile, .tile-medium, .tile-large, .tile-poster, .tile-news {
					width: 31.5%;
					display: block;
					margin-bottom: 30px;
					margin-left: 1.75%;
					background-color: white;
				    box-shadow: 0 0 18px rgba(0,0,0,.3);
				    border: 1px solid #ccc;
				    box-sizing: border-box;
   					position: relative;
   					transition: all .3s ease-in-out;
				}

				.tile:after {
					content: "";
				    position: absolute;
				    bottom: 0;
				    width: 100%;
				    height: 50px;
				    display: block;
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+76,ffffff+100&0+0,0+0,1+76,1+100 */
					background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 76%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 76%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 76%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
				}


				.tile-poster.tile:after {
					left: 31.5%;
					width: 68.5%;
				}


				.tile:hover {
					transform: scale(1.02); 
				}

				.tile-medium {
					width: 64.75%;
				}

				.tile-large, .tile-poster {
					width: 100%;
				}

				.tile-news {
					width: 46.5%;
					margin-left: 2.25%;
				}

				.tile-content {
					position: relative;
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
				}

				.tile-content:after {
					content: "";
					display: block;
					padding-top: 56.25%;
				}

				.tile-medium .tile-content:after{
					padding-top: 28.125%;
				}

				.tile-large	.tile-content:after {
					padding-top: 33.25%;
				}

				.tile-poster .tile-content {
					width: 31.5%;
				}

				.tile-poster .tile-content:after {
					padding-top: 100%;
				}

				.tile a{
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 100;
					border: 0;
				}

				.tile-genre {
					background-color: rgba(0,0,0,1);
					color: #fff;
					position: absolute;
					top: 0;
					right: 0;
					font-size: 10px; 
					letter-spacing: 2px;
					line-height: 16px;
					text-transform: uppercase;
					padding: 6px 16px 6px 16px;
				}

				.tile-additional-context {
					padding: 5px 20px 20px 20px;
					overflow: hidden;
				}

				.tile-additional-context p {
				    display: inherit;
				    max-height: 100%;
				    vertical-align: middle;
				    -webkit-box-orient: vertical;
				    -webkit-line-clamp: 2;
				}

				.tile-additional-context h3{
					text-overflow: ellipsis;
    				white-space: nowrap;
    				overflow: hidden;
    				font-size: 1.5em;
    				line-height: 100%;
    				margin: 10px 0 5px 0;
    				padding: 0;
				}

				.tile-additional-context h3 span{
					display: block;
					width: 100%;
					font-size: 18px;
					font-weight: 700;
					color: rgba(0,0,0,.3);
				}

				.tile-additional-context h3 span em{
					font-style: normal;
				}

				.tile-additional-context p{
					max-width: 100%;
					font-size: 14px;
					padding: 10px 0 15px 0;
					line-height: 130%;
					font-weight: 400;
				}

				.tile-poster .tile-additional-context {
					position: absolute;
					top: 5%;
					left: 33%;
				}

				.tile-poster .tile-additional-context p{
					font-size: 1.25em;
					font-weight: 300;
					padding-right: 40px;
				}

				.tile-winner a{
					position: relative;
					border-bottom: 1px solid #000;
				}

				.tile-winner span {
					width: 8%;
    				float: left;
    				display: block;
				}

				.tile-winner span img {
					width: 100%;
				}

				.tile-winner p {
					font-size: 1.25em;
					font-weight: 300;
					padding: 20px 5% 20px 80px;
				}


				@media only screen and (max-width: 660px) {
					.tile {
						width: 100%;
						margin-left: 0;
					}

					.tile-poster .tile-content img {
						width: 100%;
					}

					.tile-poster .tile-additional-context {
						position: initial;
					}

					.tile-poster .tile-additional-context p{
						font-size: 14px;
						font-weight: 400;
					}

					.tile-poster .tile-content {
						width: 100%;
					}

					.tile-poster .tile-content:after {
						padding-top: 28.125%;
					}

					.tile-poster.tile:after {
						left: 0;
						width: 100%;
					}

					.tile-winner {
						display: initial;
						margin-left: 0;
						margin-right: 0;
					}

					.tile-winner span img{
						display: none;
					}

					.tile-winner p {
						font-size: 1em;
						font-weight: 400;
						padding: 10px 0 0 10px;
					}

				}

			/* Buttons */

				.button-1, .button-2, .button-3{
					text-transform: uppercase;
					color: #fff;
					padding: 15px 60px 15px 60px;
					background-color: #C51310;
					font-family: 'Open Sans';
					font-weight: 400;
					display: inline-table;
					margin: 0 auto 0 auto;
					text-align: center;
					font-size: 10px;
					letter-spacing: 2px;
					border: 0;
				}

				.button-3 {
					margin: 0 20px 0 0;
				}

				#splash .button-1{
					padding: 15px 40px 15px 40px;
					margin: 10px 0 0 0;
					display: block;
					max-width: 160px;
				}

				.button-3 {
					border: 1px solid #000;
					color: #000;
					letter-spacing: 1px;
					background-color: transparent;
					font-weight: 700;
				}

				.button-schedule-home{
					display: block;
					border: 0;
					max-width: 150px;
				}

				.button-2{
					color: rgba(255,255,255,1);
					border: 1px solid rgba(255,255,255,1);
					background-color: transparent;
				}

				.button-event-location{
				    padding: 15px;
				    display: inline-block;
				    border: 1px solid;
				    font-weight: 600;
				    text-transform: uppercase;
				    font-size: 10px;
				    letter-spacing: 1px;
				    margin: 20px 0 0 0;
				}

				.button-event-location:before {
					content: "";
					display: inline-block;
					margin: 0 5px 0 0;
					width: 7px;
					height: 12px;
					background-image: url('../images/site/location.svg');
					background-position: bottom;
					background-size: 100%;
					background-repeat: no-repeat;
				}

				.tile .button-preview, #splash .button-preview {
					width: 60px;
					height: 60px;
					display: block;
					margin: 0 auto;
					z-index: 200;
					background-image: url('../images/site/button-preview.svg');
					background-position: center;
					background-repeat: no-repeat;
				}

				.tile .button-preview{
					position: absolute;
					left: 0; 
  					right: 0; 
  					top: 0;
  					bottom: 0;
  					margin: auto;
				}

				.button-facebook, .button-email, .button-instagram {
					background-repeat: no-repeat;
					background-position: right 20px center;
					text-align: left;
					width: 120px;
				}

				.button-facebook {
					background-image: url('../images/site/fb-white.svg');
					padding-left: 30px;			
				}

				.button-email {
					background-image: url('../images/site/email-white.svg');
					padding-left: 30px;			
				}

				.button-instagram {
					background-image: url('../images/site/instagram-white.svg');
					padding-left: 30px;			
				}

				.button-3.button-email{
					background-image: url('../images/site/email.svg');	
				}

				.button-flex {
					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					justify-content: center;
					padding: 80px 0 80px 0;
				}

				#schedule .button-flex, #news .button-flex {
					border-top: 1px solid #ccc;
					background-color: #fff;
				}

				#get-involved .button-flex {
					padding: 0 0 80px 0;
				}

				#schedule .button-flex .button-1 {
					width: 120px;
				}

				.button-flex .button-1, .button-flex .button-2 {
					margin: 40px 20px 40px 0;
				}

				.button-paypal img{
					display: block;
					margin: 0 auto;
				}

				.button-paypal {
					display: block;
					padding-bottom: 80px;
					border: 0;
				}

				.button-close {
					position: absolute;
					top: 15px;
					right: 15px;
					display: block;
					width: 30px;
					height: 30px;
					border: 0;
				}

				.button-close:after{
					content: "x";
   					font-family: Arial, Baskerville, monospace;
   					font-weight: bold;
					display: block;
					text-align: center;
					width: 30px;
					height: 30px;
				}

				.button-close:hover{
					cursor: pointer;
				}

				.section-black .button-close:after{
					color: #fff;
				}


				@media only screen and (max-width: 660px) {
					.button-flex {
						display: block;
						margin: 0 auto;
					}

					.button-3{
					    width: 95%;
   						display: block;
   						box-sizing: border-box;
   						margin: 0 auto 20px auto;
					}

					.button-flex .button-2 {
						margin: 40px auto;
						width: 50%;
						display: block;
					}
				}


			/* Triangles */

				.triangle {
					display: block;
					width: 100%;
					position: absolute;
					left: 0;
					right: 0;
					z-index: 100;
					overflow: hidden;
				}

				.triangle img{
					display: block;
					width: 101%;
				}

				.triangle-lower-right, .triangle-lower-left {
					bottom: -1px;
				}

				.triangle-upper-right, .triangle-upper-left {
					top: -1px;
				}

				.triangle-upper-left img {
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					-o-transform: rotate(180deg); 
					-ms-transform: rotate(180deg);
					transform: rotate(180deg);					
				}

				.triangle-lower-left img {
					-moz-transform: scaleX(-1);
			        -o-transform: scaleX(-1);
			        -webkit-transform: scaleX(-1);
			        transform: scaleX(-1);
			        filter: FlipH;
        			-ms-filter: "FlipH";
				}

			/* Sections */

				section {
					position: relative;
				}

				section a{
					color: #000;
				}

				section p {
					line-height: 150%;
					display: block;
					margin: 0 auto;
				}

				.section-grey{
					background-color: #f2f2f2;
					border-top: 1px solid #CCCCCC;
				}

				.next-up {
					padding: 80px 0 0 0;
					border-top: 0;
				}

				.next-up #tiles {
					-webkit-justify-content: center; 
					justify-content: center; 
				}

				.section-black {
					background-color: #000;
				}

				.section-black p{
					color: #ccc;
					padding-bottom: 20px;
				}

				.section-black a {
					color: #ccc;
					border-color: #ccc;
				}

				.section-black ul{
					color: rgba(255,255,255,.85);
				}

				.section-black-overlay {
					position: absolute;
					background-color: rgba(0,0,0,.7);
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 50;
				}

				.section-winner, .section-sponsors, .section-donate{
					padding: 40px 0 40px 0;
				}

				.section-winner {
					padding-top: 100px;
					border: 0;
				}

				.full-bleed, .full-bleed img {
				    position: relative;
				    width: 100%;
				    display: block;
				}

				.section-highlights, #schedule .schedule-tiles {
					background-image: url(../images/schedule/schedule-bk.svg);
					background-position: center;
					background-size: cover;	
				}

				.about h2 {
					padding-top: 40px;
				}

				.section-news {
					padding: 100px 0 80px 0;
				}

				.section-news h2 {
					margin-bottom: 20px;
				}

				.section-submit {
					padding: 40px 0 0 0;
				}

				.about p, .section-sponsors p, .section-news p{
					width: 60%;
					max-width: 900px;
					margin: 0 auto 0 auto;
					padding: 40px 0 0 0;
				}

				.about-description {
					padding: 40px 0 0 0;
				}

				.section-news img {
					width: 60%;
					max-width: 900px;
					display: block;
					margin: 0 auto 0 auto;
				}

				.tiles-sponsors {
					margin: 40px auto 0 auto;
					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					justify-content: flex-start;
					flex-wrap: wrap;
					max-width: 900px;
					overflow: hidden;
					min-height: 200px;
				}

				.tiles-sponsors div {
					width: 20%;
					height: 100px;
					margin-left: 5%;
					position: relative;
					margin-bottom: 5%;

				}

				.tiles-sponsors div img {
					height: 100%;
					max-width: 100%;
					display: block;
					margin: 0 auto;

				}

				@media screen and (max-width: 660px) {
					.section-highlights {
						padding-bottom: 30px;
					}

					.section-news img {
						width: 100%;
					}

					.section-news {
						padding-top: 60px;
					}

					.about-description, .section-sponsors p {
						padding: 0;
					}
					.about p, .section-sponsors p, .section-news p {
						width: 90%;
					}

					.tiles-sponsors div {
						width: 25%;
					}
				}

				@media screen and (max-width: 480px) {
					.tiles-sponsors div {
						width: 45%;
					}
				}

			/* Detail pages */

				#error-404{
					background-image: url(../images/site/404.jpg);
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					text-align: center;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
				}

				.content {
					max-width: 960px;
					display: block;
					margin: 0 auto;
					box-sizing: border-box;
					padding-left: 10px;
					padding-right: 10px;
				}

				.content-empty {
					text-align: center;
					font-weight: 200;
					font-family: 'Open Sans Condensed';
					text-transform: uppercase;
					border: 1px solid #ccc;
					padding: 120px 40px 120px 40px;
					width: 80%;
					margin: 0 auto 60px auto;
					box-sizing: border-box;	
				}

				.content-empty p {
					font-size: 5vw;
					color: #cccccc;
					line-height: 120%;
				}

				.content-empty span{
					font-size: 2.5vw;	
					color: #C51310;
					display: block;
					width: 100%;
				}

				.event-details {
					max-width: 960px;
					margin: 0 auto 30px auto;
					padding: 0 0 30px 0;
    				border-bottom: 1px solid #CCCCCC;
				}

				.event-details .button-3 {
					margin-right: 10px;
				}

				.event-details h3{
					font-size: 4vw;
			    	line-height: 65%;
			    	display: inline-block;
			    	margin-bottom: 40px;
				}

				.event-details h4{
					font-size: 4vw;
					display: inline-block;
					color: rgba(0,0,0,.25);
					margin: 0 20px 0 20px;
				}

				.event-details h3 span{
					font-size: 18px;
					display: block;
				}

				.event-guests {
					display: flex;
					justify-content: center;
					flex-wrap: wrap;
					padding: 0 0 40px 0;
				}

				.event-guest {
					text-align: center;
					display: block;
					width: 200px;
					margin-right: 20px;
					padding: 10px;
				}

				.event-guest span{
					display: block;
					margin: 0 auto;
					width: 100px;
					height: 100px;
					border-radius: 50%;
					background-repeat: no-repeat;
					background-size: cover;
				}

				.description-columns {
					margin: 0 auto;
					padding: 0 0 60px 0;
					-webkit-column-count: 2; /* Chrome, Safari, Opera */
    				-moz-column-count: 2; /* Firefox */
    				column-count: 2;
    				-webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    				-moz-column-gap: 40px; /* Firefox */
    				column-gap: 40px;
    				-webkit-column-break-inside: avoid;
          			page-break-inside: avoid;
                	break-inside: avoid;
				}

				.description-columns p{
					padding-bottom: 20px;
				}

				.list-details{
					width: 100%;
					margin: 0 auto 60px auto;
				}

				.list-details li{
					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					justify-content: space-between;
					line-height: 60px;
					border-bottom: 1px solid #cccccc;
					text-indent: 5px;
				}

				.list-details li:last-child{
					border: 0;
				}

				.list-details li:last-child span{
					width: 60%;
					text-align: right;
					line-height: 150%;
					margin-top: 18px;
				}

				.section-black .list-details li{
					border-bottom-color: rgba(255,255,255,.15);
				}

				.event-buy-tickets {
					background-color: #fff !important;
					width: 100%;
					padding: 40px;
				}

				.event-buy-tickets p{
					font-size: 2em;
					max-width: 480px;
					font-weight: 300;
					text-align: center;
					margin: 0 auto;
					display: block;
				}

				.gallery {
					padding: 0 0 120px 0;
					font-size: 0;
					-ms-flex-wrap: wrap;
					-ms-flex-direction: column;
					-webkit-flex-flow: row wrap; 
					flex-flow: row wrap; 
					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
				}
				
				.gallery div { 
					-webkit-box-flex: auto;
					-ms-flex: auto;
					flex: auto; 
					width: 200px; 
					margin: .5vw; 
				}

				.gallery div img { 
				  width: 100%; 
				  height: auto; 
				}

				@media only screen and (max-width: 660px) {
					.description-columns {
						padding: 0 20px 60px 20px;
					}
				}

				@media only screen and (max-width: 660px) {
					.event-details{
						padding: 0 0 0 0;
						border: 0 !important;
					}

					.event-details h3, .event-details h4{
						font-size: 12vw;
						margin: 0 0 30px 10px;
						line-height: 65%;
					}

					.description-columns {
						margin: 0 auto;
						padding: 0 0 60px 0;
						-webkit-column-count: 1; /* Chrome, Safari, Opera */
	    				-moz-column-count: 1; /* Firefox */
	    				column-count: 1;
					}

					.description-columns{
						width: 95%;
					}


					.list-details{
						padding: 0 10px 0 10px;
						border-size: border-box;
						width: 95%;

					}

					.content-empty p {
					font-size: 1.5em;
					}

					.content-empty span{
						font-size: 1em;
					}
				}

				@media screen and (max-width: 400px) {
				  .gallery div { 
					margin: 0;
					}
				}

			/* Forms */

				.submit input[type=text], .submit textarea{
					width: 100%;
					max-width: 100%;
					box-sizing: border-box;
					padding: 20px;
					border: 0;
					margin-bottom: 20px;
					background-color: rgba(255,255,255,.1);
					font-size: 16px;
					color: #ccc;
				}

				input[type=text].submit-name, input[type=text].submit-email{
					width: 49%;
				}

				input[type=text].submit-email{				
					float: right;
				}

				.submit input:focus, .submit textarea:focus {
					outline: none;
					background-color: rgba(255,255,255,.25);
					transition: background-color 0.5s ease;
				}

				.agreement {
					text-align: center;
					display: block;
					margin: 10px 0 0 0;
				}

				.agreement input, .agreement p {
					display: inline;
					padding: 0;
				}

				.submit textarea {
					height: 120px;
				    resize: none;
				}

				.submit span {
					display: block;
					margin: 40px auto 40px auto;
					position: relative;
					height: 140px
				}

				.submit input[type=submit] {
				    transform:scale(3.3);
				    top: 20px;
				    position: relative;
				    display: block;
				    margin: 0 auto;
				    z-index: 100;
				    opacity: 0;
				}

				.submit input[type=submit]:hover{
					cursor: pointer;
				}

				.submit span:after{
					display: block;
					position: absolute; 
					top: 0;
					left: 0; 
					right: 0; 
					margin-left: auto; 
					margin-right: auto; 
					z-index: 50;
					background-color: #C51310;
					content: "submit";
					width: 160px;
					font-size: 12px;
					letter-spacing: 1px;
					height: 34px;
					line-height: 34px;
					padding: 10px;
					color: #fff;
					text-align: center;
					text-transform: uppercase;
				}

				.subscribe-email {
					text-align: center;
				}

				.subscribe-email div{
					display: inline-block;
					width: auto;
					margin: 0 auto;
					overflow: hidden;
					padding: 60px 0 60px 0;
				}

				.subscribe-email input[type=text]{
					padding: 10px;
					text-indent: 10px;
					height: 31px;
					min-width: 340px;
					font-size: 16px;
					border: 1px solid rgba(0,0,0,.15);
					box-sizing: content-box;
				}

				.subscribe-email input:focus{
					outline: 0;
					background-color: rgba(0,0,0,.05);
					transition: background-color 0.5s ease;
					color: #000;
				}

				.subscribe-email span{
				    position: relative;					
				}

				.subscribe-email input[type=submit] {
				    transform:scaleY(3.2);
				    width: 200px;
				    opacity: 0;
				    position: relative;
				    top: 0;
				    left: 0;
				    z-index: 60;
				}

				.subscribe-email span:after{
					position: absolute;
					display: block;
					top:-15px;
					bottom: 0;
					left: -5px;
					right: 0;
					z-index: 50;
					content: "sign me up";
					background-color: #000;

					font-size: 12px;
					letter-spacing: 1px;
					height: 53px;
					line-height: 53px;
					color: #fff;
					text-align: center;
					text-transform: uppercase;
				}

				.event-buy-tickets .subscribe-email {
					padding: 40px 0 20px 0;
				}

				.event-buy-tickets .subscribe-email span:after{
					content: "remind me";
				}

				.subscribe-email input[type=submit]:hover{
					cursor: pointer;
				}

				#subscribe-email-success, #subscribe-tickets-success, #submit-film-success {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-color: rgba(255,255,255,.85);
					z-index: 50;
				}

				#subscribe-email-success p, #subscribe-tickets-success p, #submit-film-success p{
					font-family: 'Open Sans Condensed';
					font-weight: 700;
					text-align: center;
					font-size: 2vw;
				}

				#subscribe-email-success img{
					display: block;
					margin: 0 auto 10px auto;
					width: 30px;
				}

				#submit-film-success {
					background-color: rgba(0,0,0,.85);
				}

				@media screen and (max-width: 660px) {

					.subscribe-email div{
						padding: 60px 0 90px 0;
					}

					.subscribe-email input[type=submit] {
						width: 100%;
						top: 20px;
					}

					.subscribe-email span:after{
						top: 0;
						left: 0;
					}

					.subscribe-email input[type=text]{
					    width: 100%;
    					padding: 25px 0 25px 0;
    					box-sizing: border-box;
    					text-indent: 20px;
					}

					input[type=text].submit-name, input[type=text].submit-email{
						width: 100%;
					}

					.submit input[type=text], .submit textarea{
						font-size: 12px;
						color: #ccc;
					}

					.agreement {
					    text-align: center;
					    display: block;
					    margin: 10px auto 0 auto;
					    width: 90%;
					}

					#subscribe-email-success p, #subscribe-tickets-success p, #submit-film-success p{
						font-size: 4vw;
					}
				}

			/* Footer */

				footer {
					position: relative;
					background-color: #000;
					width: 100%;
					height: 400px;
					overflow: hidden;
					text-align: center;
					background-image: url(../images/site/uptown-bw.jpg);
					background-position: center bottom;
					background-size: cover;	
				}

				footer .section-black-overlay a{
					border: 0;
					color: #fff;
				}

				.archive {
					color: #fff;
					border-bottom: 1px solid #fff;

				}

				.copyright {
					position: absolute;
					z-index: 100;
					bottom: 0;
					width: 100%;
					text-align: center;
				}

				.copyright p{
					line-height: 40px;
					font-size: 12px;
					color: rgba(255,255,255,.25);
				}

				.scroll-to-top {
				    width: 27px;
				    height: 40px;
				    display: block;
				    margin: 3% auto 0 auto;
				    border-radius: 50%;
				    background-image: url(../images/site/scroll-up.svg);
					background-position: center;
					background-size: 100%;	
				    z-index: 300;  
				}